.abordagem-bg {
  background-color: #f39f95;
  box-shadow: inset 0 40px white, inset 0 -40px white;
}

.abordagem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
  padding-top: 12px;
}

.passo {
  background: url("/img/decor/bottom-right-w.svg") no-repeat bottom right;
}

.abordagem h1 {
  margin-bottom: 20px;
  color: white;
}
.abordagem p {
  margin-bottom: 32px;
  max-width: 52ch;
}

.passo ul li {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-size: 1.2rem;
  position: relative;
}

.passo li img {
  width: 32px;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
}

.passo li:last-child:after {
  display: none;
}

.passo li::after {
  content: "";
  width: 3px;
  height: 32px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 26px;
  bottom: -20px;
}

#abordagem .sobre-nos-img {
  border-radius: 16px;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#abordagem .background {
  background-image: url("/img/fotos/medica.jpg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.foto-button {
  position: absolute;
  left: 40px;
  z-index: 1;
  bottom: 40px;
}

@media (max-width: 800px) {
  .passo ul li {
    margin-bottom: 12px;
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .abordagem-bg {
    box-shadow: inset 0 0px white, inset 0 -132px white;
  }

  .abordagem {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .passo {
    padding-top: 20px;
  }

  #abordagem .sobre-nos-img {
    height: 280px;
  }
  .foto-button {
    left: 20px;
    bottom: 20px;
  }
}
