.contato-bg {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}

.contato {
  padding-top: 68px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.quemsomos {
  display: grid;
  align-items: start;
  display: flex;
  flex-direction: column;
  & p {
    margin-bottom: 20px;
  }
}

.contato h1,
.contato h2 {
  margin-bottom: 12px;
  font-size: 1.5rem;
  background: linear-gradient(to right, #a16c2b, #d8b056, #a16c2b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.dados-totais > p {
  margin-bottom: 20px;
  max-width: 52ch;
  font-style: oblique;
}

.dados-contato h2 {
  font-size: 1rem;
  margin-bottom: 12px;
  text-transform: none;
}
.dados-contato ul {
  margin-bottom: 20px;
}

.dados-contato li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.horario li {
  max-width: 22ch;
  align-items: start;
}

.horario li img {
  margin-top: 2px;
}

@media (max-width: 680px) {
  .contato-bg {
    padding-bottom: 44px;
  }
  .contato {
    padding-top: 40px;
  }
  .dados-totais {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .contato {
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
  }
}
