.intro {
  z-index: 12;
  padding-top: 80px;
  margin-bottom: 40px;
}

.hero {
  height: 100vh;
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1; /* atrás do header */
  padding-top: 80px; /* para o conteúdo não ficar escondido atrás do header */
}
.conteudo h1 {
  max-width: 18ch;
  line-height: 1.2;
  margin-bottom: 16px;
}
.conteudo h1 span {
  color: var(--cor-06);
}
.conteudo p {
  max-width: 52ch;
  margin-bottom: 28px;
}

@media (max-width: 1000px) {
  .intro {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .conteudo h1 {
    /* font-size: 3rem; */
    max-width: 20ch;
    margin-bottom: 28px;
  }

  .conteudo p {
    max-width: 100ch;
  }
}

@media (max-width: 650px) {
  .intro {
    margin-bottom: 32px;
  }
}

@media (max-width: 550px) {
  .conteudo h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
  .intro {
    padding-top: 12px;
  }
}
