.portfolio-bg {
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
}
.portfolio {
  padding-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}
.portfolio h1 {
  margin-bottom: 20px;
  color: var(--cor-06);
}
.portfolio p {
  margin-bottom: 18px;
  text-align: center;
  font-style: italic;
  max-width: 40ch;
}

.portfolio span {
  color: var(--cor-08);
  font-style: normal;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.portfolio-item {
  display: grid;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  place-content: start;
}

.img-item {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  height: 200px;
  background-image: url("/img/bg-item.jpg");
}

.img-site1 {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.img-site:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.info-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: var(--degrade3);
  padding: 12px 12px 12px 20px;
}

.info-portfolio h2 {
  color: var(--cor-00);
}

@media (max-width: 950px) {
  .lista-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .lista-portfolio {
    display: grid;
    grid-template-columns: 1fr;
  }
  .info-portfolio h2 {
    font-size: 0.875rem;
  }
}
