.sobre-nos-bg {
  background-image: var(--degrade3);
  background-size: 200% auto; /* necessário para o movimento */
}

/* .diferencial */
.diferencial {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-top: 68px;
  padding-bottom: 40px;
  align-items: center;
}

.diferencial-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .cta {
    color: var(--cor-00);
    max-width: 40ch;
    text-align: center;
    padding: 12px;
    border-radius: 40px;
    border: 1px solid var(--cor-03);
    font-size: 1.2rem;
  }
}

.diferencial h2 {
  margin-bottom: 32px;
  text-align: center;
  color: var(--cor-03);
  font-size: 1.6rem;

  & span {
    color: var(--cor-00);
    font-weight: 600;
    text-transform: uppercase;
  }
}
.diferencial-conteudo > p {
  margin-bottom: 32px;
}

.list1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.list2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 40px;
}

.list1 li,
.list2 li {
  display: flex;
  gap: 12px;
  align-items: start;
  padding: 24px 20px;
  border-radius: 20px;
  max-width: 376px;
  border: 2px solid #fcfcfc; /* borda interna */
  outline: 2px solid var(--cor-06); /* borda externa branca */
  outline-offset: -4px; /* encosta mais na borda */
  padding: 20px;
  background-image: url("/img/bg-item.jpg");
  cursor: pointer;

  & h3 {
    background: linear-gradient(to right, #a16c2b, #d8b056, #a16c2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
  }
}

.list1 img,
.list2 img {
  width: 32px;
}

.sumirWeb {
  display: none !important;
}

/* rsppnsividade */

@media (max-width: 980px) {
  .list1 {
    grid-template-columns: repeat(2, 1fr);
    & .sumirWeb {
      display: flex !important;
    }
  }

  .list2 {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 32px;
    & .sumirMobile {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .list1 {
    grid-template-columns: 1fr;
    & .sumirWeb {
      display: flex !important;
    }
  }

  .list2 {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 32px;
    & .sumirMobile {
      display: none;
    }
  }
}
