:root {
  /* cores pardao */
  --cor-00: #fff;
  --cor-01: #f7f8fd;
  --cor-02: #fff4cf;
  --cor-03: #faeab5;
  --cor-04: #ebdb9a;
  --cor-05: #d8b056; /*cor principal */
  --cor-06: #d8b056;
  --cor-07: #8e9ac7;
  --cor-08: #a16c2b;
  --cor-09: #16296d;
  --cor-10: #141414;

  /* --degrade: linear-gradient(to right, #a16c2b, #d8b056, #ebdb9a, #d8b056); */

  --degrade: linear-gradient(270deg, #8b5c23, #d1aa4f, #dfb85e, #8b5c23);

  --degrade2: linear-gradient(to right, #fff, #fff);

  --degrade3: linear-gradient(
    270deg,
    #7a501e,
    #a4702a,
    #cda049,
    #a4702a,
    #7a501e
  );

  --cor-c1: #f7f7f7;
  --cor-c2: #ededed;
  --cor-c3: #dedede;
  --cor-c4: #d9d9d9;
  --cor-c5: #b8b8b8;
  --cor-c6: #9c9c9c;
  --cor-c7: #717171;
  --cor-c8: #404040;
  --cor-c9: #2e2e2e;
  --cor-c10: #0e0e0e;
}

/* //////////////////// */

.cor-00 {
  color: var(--cor-00);
}

.cor-01 {
  color: var(--cor-01);
}
.cor-02 {
  color: var(--cor-02);
}
.cor-03 {
  color: var(--cor-03);
}
.cor-04 {
  color: var(--cor-04);
}
.cor-05 {
  color: var(--cor-05);
}
.cor-06 {
  color: var(--cor-06);
}
.cor-07 {
  color: var(--cor-07);
}
.cor-08 {
  color: var(--cor-08);
}
.cor-09 {
  color: var(--cor-09);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-13 {
  color: var(--cor-13);
}

/* ///////////// */
.cor-c1 {
  color: var(--cor-c1);
}
.cor-c2 {
  color: var(--cor-c2);
}
.cor-c3 {
  color: var(--cor-c3);
}
.cor-c4 {
  color: var(--cor-c4);
}
.cor-c5 {
  color: var(--cor-c5);
}
.cor-c6 {
  color: var(--cor-c6);
}
.cor-c7 {
  color: var(--cor-c7);
}
.cor-c8 {
  color: var(--cor-c8);
}
.cor-c9 {
  color: var(--cor-c9);
}
.cor-c10 {
  color: var(--cor-c10);
}
