html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: poppins;
  color: #111111;
  height: 2000px;
}
h1,
h2,
h3,
p,
ul,
blockquote,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button-1 {
  font-size: 0.875rem;
  background-color: salmon;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  border: 2px solid white;
  text-align: center;
}
.button-1:hover {
  background-color: white;
  border: 2px solid salmon;
  color: salmon;
  transition: 0.3s;
}

.button-seta {
  display: flex;
  align-items: center;
}
.button-seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 4px;
  background-image: url("../../img/icones/seta.svg");
}
.button-seta:hover::after {
  transform: translateX(4px);
  transition: 0.2s;
}

/* js left */
.js-scroll-left {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.5s;
}

.js-scroll-left.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* js right */
.js-scroll-right {
  opacity: 0;
  transform: translate3d(30px, 0, 0);
  transition: 0.9s;
}

.js-scroll-right.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
