.slide-fotos {
  display: grid;
  gap: 8px;
  margin-bottom: 40px;
}

.slideshow-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  max-height: 500px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 4px 4px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.prev:hover,
.next:hover {
  background-color: salmon;
}

/* Caption text */
.text {
  color: #fff;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.3);
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.marcador {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: salmon;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 540px) {
  .slide-fotos {
    gap: 12px;
    margin-bottom: 40px;
  }
}
